<footer>
    <p>Gestionnaire de tâche <i class="bi bi-c-circle"></i> 2023 . Tous droits réservés . Site réalisé par <a href="https://anaisperigny.fr" target="_blank">Anaïs PERIGNY</a> </p>
</footer>

</body>
</html>