<nav class="navigation">
    <div class="flex">
        <a href="<% if(!locals.connected) { %>/<% } else { %>/todos/all<% } %>"><img src="/images/logo-todoApp.png" alt="Logo du site" class="logo_navbar"></a>
        <% if(locals.connected) { %>
            <p class="russo">Bonjour <%= locals.user.username %>,</p>
        <% } else { %>
            <p class="russo">Bonjour inconnu,</p>
        <% } %>
    </div>
    
    <ul>
        <a href="/en"><button>EN</button></a>
        <a href="/"><button>FR</button></a>
        <% if(!locals.connected) { %>
        <li><a href="/user/signup">Inscription</a></li>
        <li><a href="/user/login">Connexion</a></li>
        <% } else { %>
        <!-- <li><a href="/todos/all">Mes tâches</a></li> -->
        
        <li>
            <form action="/user/logout" method="post">
                <button type="submit" class="button btn_navbar">Déconnexion</button>
            </form>
        </li>
        <% } %>
    </ul>
</nav>
