<%- include("./partials/header", {title : "Page d'accueil", style : "homePage"}) %>
<%- include("./partials/navbar") %>
    
    <div class="parent">
        <h1 class="title_homePage">Online task manager</h1>
        <img src="/images/baniere_homePage.jpg" alt="Banière image du Gestionnaire de tâche" class="child2">
    </div>
   
    <div class="content">
        <section class="bloc_homePage">
            <span>1.</span>
            <p>Before you start, create an account and log in to your user space: </p>
            <img src="/images/capture1_homePage.png" alt="Capture de la page d'inscription du Gestionnaire de tâche en ligne gratuit">
        </section>
    
        <section class="bloc_homePage">
            <span>2.</span>
            <p>Once logged in, you can create new tasks to organize your projects.</p>
            <img src="/images/capture2_homePage.png" alt="Capture de la page de création de tâche du Gestionnaire de tâche en ligne gratuit">
        </section>
    
        <section class="bloc_homePage">
            <span>3.</span>
            <p>Get a global view of ongoing projects.</p>
            <img src="/images/capture3_homePage.png" alt="Capture de la page qui rassemble toutes les tâches du Gestionnaire de tâche en ligne gratuit">
        </section>
    </div>


<%- include("./partials/footer") %>
