<%- include("./partials/header", {title : "Page d'accueil", style : "homePage"}) %>
<%- include("./partials/navbar") %>
    <main>
        <div class="parent">
            <h1 class="title_homePage">Gestionnaire de tâche en ligne</h1>
            <img src="/images/baniere_homePage.jpg" alt="Banière image du Gestionnaire de tâche en ligne (Todo App Online)" class="child2">
        </div>
       
        <div class="content">
            <section class="bloc_homePage">
                <span>1.</span>
                <p>Avant de commencer, créez un compte et connectez-vous à votre espace utilisateur : </p>
                <img src="/images/capture1_homePage.png" alt="Capture de la page d'inscription du Gestionnaire de tâche en ligne gratuit (Todo App Online)">
            </section>
        
            <section class="bloc_homePage">
                <span>2.</span>
                <p>Une fois connecté, vous pourrez créer de nouvelles tâches afin d’organiser vos projets.</p>
                <img src="/images/capture2_homePage.png" alt="Capture de la page de création de tâche du Gestionnaire de tâche en ligne gratuit (Todo App Online)">
            </section>
        
            <section class="bloc_homePage">
                <span>3.</span>
                <p>Obtenez une vision globale des projets !</p>
                <img src="/images/capture3_homePage.png" alt="Capture de la page qui rassemble toutes les tâches du Gestionnaire de tâche en ligne gratuit (Todo App Online)">
            </section>
        </div>
    </main>
<%- include("./partials/footer") %>