<%- include("./partials/header", {title : "Page d'accueil", style : "homePage"}) %>
<%- include("./partials/navbar") %>
    <main>
        <div class="parent">
            <h1 class="title_homePage">Gestionnaire de tâche en ligne</h1>
            <img src="/images/baniere_homePage.jpg" alt="Banière image du Gestionnaire de tâche en ligne (Todo App Online)" class="child2">
        </div>
        
        <div class="content">
            <img src="/images/welcome.svg" alt="Bienvenue !">
            <section class="bloc_homePage">
                <span class="numberBlock_homePage">1.</span>
                <p>Avant de commencer, <span class="bold">créez un compte et connectez-vous</span> à votre espace utilisateur : </p>
                <a href="/user/signup" class="imgLink_homePage"><img src="/images/img1_homePage.svg" alt="Gestionnaire de tâche en ligne gratuit (Todo App Online)"></a>
            </section>
        
            <section class="bloc_homePage">
                <span class="numberBlock_homePage">2.</span>
                <p>Une fois connecté(e), vous pourrez <span class="bold">créer de nouvelles tâches</span> afin d’organiser vos projets.</p>
                <img src="/images/img2_homePage.svg" alt="Gestionnaire de tâche en ligne gratuit (Todo App Online)">
            </section>
        
            <section class="bloc_homePage">
                <span class="numberBlock_homePage">3.</span>
                <p>Obtenez une <span class="bold">vision globale</span> de vos projets !</p>
                <img src="/images/img3_homePage.svg" alt="Gestionnaire de tâche en ligne gratuit (Todo App Online)">
            </section>
        </div>
    </main>
<%- include("./partials/footer") %>