.flex-end{
    width: 90%;
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: end;
}
.todoTable{
    margin-left: 20px;
    margin-right: 20px;
}
table{
    width: 100%;
    max-width: 800px;
    margin: auto;
    font-family: 'Indie Flower', cursive;
    margin-top: 70px;
    border-spacing: 20px;
    border-collapse: collapse;
}
thead{
    background-color:#fff;
}
.vide{
    background-color:#DBDBDB !important;
    height: 30px;
}
th{
    font-weight: 800;
    font-size: 1rem;
    padding: 30px;
    width: 30%;
}
th:nth-child(1){
    border-radius: 30px 0 0 0 !important;
}
th:nth-child(3){
    border-radius: 0 30px 0 0 !important;
}
.projectName{
    font-weight: 700;
    font-size: 1rem;
}
.created_at{
    font-size: 0.9rem;
}
.todo_open{
    background-color:rgba(255, 255, 255, 0.851);
}
.todo_complete{
    background-color:rgba(226, 208, 159, 0.851);
    border: gold;
}
.todo_close{
    background-color:rgba(195, 193, 193, 0.851);
}
.todo_close p{
    color: #8e8c8c;
    
}

td .ajust-cell-form{
    display: flex;
    justify-content: space-around;
    align-items:center;
    padding: 0 1rem;
}
@media screen and (width >= 768px) {
    th{
        font-size: 1.3rem;
    }
    .projectName{
        font-size: 1.2rem;
    }
}

@media screen and (width >= 992px) {
    th{
        font-size: 1.5rem;
    }
    .projectName{
        font-size: 1.3rem;
    }
    .created_at{
        font-size: 1rem;
    }
}