/* GLOBAL CSS */
body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #DBDBDB;
}
h1{
    font-family: 'Lexend Zetta', sans-serif;
    font-size: 1.3rem;
}
.title{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 100px;
}
.hidden{
    display: none;
}
a{
    text-decoration: none;
    color: #000;
}
.bloc_todos{
    background-color: #fff;
    padding: 1rem;
    border-radius: 30px;
    max-width: 800px;
    margin: auto;
}
.center{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.column{
    display: flex;
    flex-direction: column;
    align-items:center;
}
.flex{
    display: flex;
    align-items:center;
    justify-content: start;
    width: auto;
}
.russo{
    font-family: 'Russo One', sans-serif;
    color: #4e6f2c;
}

/* start BUTTONS */
.button{
    padding: 6px 10px;
    border: none;
    font-family: 'Gruppo', sans-serif;
    font-weight: 600;
}
.btn_update{
    border-radius: 30px;
    border: 3px solid rgb(169, 169, 214);
}
.btn_update:hover{
    background-color: rgb(169, 169, 214);
}
.btn_complete{
    border-radius: 30px;
    border: 3px solid gold;
}
.btn_complete:hover{
    background-color: gold;
}
.choices{  
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 0 10px;  
    margin-left: auto;
    margin-right: auto;
}
.btn_back{
    border-radius: 30px;
    border: 3px solid rgba(155, 155, 155, 0.5) ;
    text-decoration: none !important;
    color:#000 !important;
}
.btn_back:hover{
    background-color:rgba(155, 155, 155, 0.5) ;
    text-decoration: none !important;
    color:#000 !important;
}
.btn_validation{
    border-radius: 30px;
    border: 3px solid #A2BD87;
    background-color:#fff
}
.btn_validation:hover{
    background-color: #A2BD87;
}
.btn_delete{
    border-radius: 30px;
    border: 3px solid #bd8a87;
}
.btn_delete:hover{
    background-color: #bd8a87;
}
/* end BUTTONS */



/* Sizes */
.russo, .button{
    font-size: 0.8rem;
}

@media screen and (width >= 768px) {
    .russo, .button{
    font-size: 1rem;
    }
    h1{
        font-size: 2rem;
    }
    .button{
        padding: 11px;
    }
    
}

@media screen and (width >= 992px) {
    .russo{
    font-size: 1.2rem;
    }
    .button{
        padding: 16px;
    }
}

/* ********  start NAVIGATION BAR  ******** */
nav{
    background-color: #fff;
}
.navigation{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.logo_navbar{
    width: 120px;
}
nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav ul li{
    list-style-type: none;
}
nav a{
    text-decoration: none;
    color: #000;
}
.btn_navbar{
    background-color: black;
    color: white;
}
@media screen and (width >= 768px) {
    .logo_navbar{
        width: 160px;
    } 
    nav ul li {
        margin-right: 20px;
    }
}

@media screen and (width >= 992px) {
    .logo_navbar{
        width: 200px;
    }
    nav ul li {
        margin-right: 30px;
    }
}
/* ********  end NAVIGATION BAR   ******** */



/* ********  start FOOTER  ******** */
footer{
    font-family: 'Indie Flower', cursive;
    background-color:#fff;
    padding: 30px 50px;
    margin-bottom: 50px;
    margin-top: 100px;
    text-align: center;
    font-size: 0.8rem;  
}
@media screen and (width >= 768px) {
    footer{
        font-size: 1rem; 
    }
}

@media screen and (width >= 992px) {
    footer{
    font-size: 1.2rem;  
    }
}
/* ********  end FOOTER   ******** */