
label{
    display: none;
}
input{
    padding: 10px;
    border: none;
    border-bottom: 1px solid #000;
    font-size: 1.3rem;
    margin-bottom: 20px;
}
ul li{
    list-style-type: circle;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div{
    margin: auto;
    width: 80%;
}


h3{
    font-family: 'Lexend Zetta', sans-serif;
}