<%- include("../partials/header", {title : "Détail tâche", style: "errors"}) %>
<%- include("../partials/navbar") %>

<main>
    <h1 class="title">Erreur 404</h1>
    <p class="text_error">Cette page n'existe pas.</p>
    <a href="/todos/all" class="button btn_back" type="button">Retour</a>
</main>  
    
<%- include("../partials/footer") %>